body {
    width: 100vw;
    font-family: "Inter", sans-serif; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px #CECECE;
            box-shadow: 0px 0px 10px #CECECE;
    font-size: 13px;   
    padding: 0;
}

.navigation {
    height: 65px;
    width: 67.7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #666666;
    padding: 1px 0 0 0;
}

.nav {
    width: auto;
    padding: 0 0 0 1%;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7%;
    list-style: none;
}

.nav-list li {
    white-space: nowrap;
}

a {
    text-decoration: none; 
    color: #666666;
}

a:visited {
    color: #666666;
}

a:active {
    color: #666666;
}

.logo {
    cursor: pointer;
}

.call-button {
    width: 204px;
    height: 40px;
    background-color: #0B457F;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-family: "Inter", sans-serif; 
    -webkit-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
    color: #ffffff;
    letter-spacing: 0.9px;
    cursor: pointer;
    padding: 0 0 0 1px;
}

.burger-menu {
    display: none;
}

.call-button:hover {
    background-color: #006CD8;
}

.line {
    width: 100%;
    background-color: #CECECE;
    height: 1px;
}

.sub-nav {
    height: 43px;
    width: 67.7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 31.5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #666666;
}

.sub-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    font-size: 12px;
    padding: 1px 0 0 0;
}

.sub-nav a:nth-child(2) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 7px;
}

.sub-nav a:nth-child(3) {
    margin-bottom: 1px;
    gap: 7px;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    margin: 0 0 280px 0;  
}

.title {
    width: 67.7vw;
    font-size: 24px;
    font-weight: 500;
    margin: 57px 0 0 0;
}

.banner-container {
    width: 67.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    letter-spacing: 0.1px;
    gap: 12px;
    margin: 32px 0 0 0;
}

.mid {
    display: none;
}

.mini-banner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
}

.banner-element {
    height: 480px;
    min-width: 18.75vw;
    position: relative;
    overflow: hidden;
    background: -o-linear-gradient(3deg, rgba(18, 18, 18) 0%, rgba(0, 0, 0, 0.7) 100%);
    background: linear-gradient(87deg, rgba(18, 18, 18) 0%, rgba(0, 0, 0, 0.7) 100%); 
    border-radius: 12px;
    color: white;
    padding: 33.5px 32px 0;
}

.mini-banner-element {
    max-width: 360px;
    height: 217px;
}

.banner-title {
    max-width: 265px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    z-index: 1;
    margin: 0;
}

.banner-content {
    max-width: 305px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    margin: 0;
    padding: 11px 0 0 0;
    z-index: 1;
}

.mini-banner-content {
    width: 295px;
    z-index: 1;
}

.banner-button {
    height: 45px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-family: "Inter", sans-serif; 
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    margin: 32px 0 0 0;
    padding: 1px 27px 0;
    z-index: 1;
}

.banner-button:hover {
    background-color: #ffffff26;
}

.mini-banner-button {
    width: 180px;
}

.back-img-banner-1 {
    position: absolute;
    top: 308px;
    left: 12px;
}

.back-img-banner-2 {
    width: 288px;
    height: 123px;
    position: absolute;
    top: 130px;
    left: 207px;
}

.back-img-banner-3 {
    position: absolute;
    top: 118px;
    left: 270px;
}

.back-img-banner-4 {
    width: 347px;
    height: 165px;
    position: absolute;
    top: 335px;
    left: 65px;
}

.back-img-banner-container-play {
    width: 189px;
    height: 195px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(18, 18, 18, 0.3);
    border-radius: 100%;
    position: absolute;
    top: 55px;
    left: 172px;
    z-index: -1;
    margin: 0;
    padding: 0 0px 0 7px;
}

.back-img-banner-container-magnifying {
    width: 321px;
    height: 296px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(18, 18, 18, 0.3);
    border-radius: 100%;
    position: absolute;
    top: 252px;
    left: -44px;
    z-index: -1;
    padding: 0 0 35px 10px;
}

@media screen and (max-width: 1768px){
    .nav-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 5%;
    }
}

@media screen and (max-width: 1199px) {
    .navigation {
        height: 65px;
        width: 71.1vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 1%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #666666;
        padding: 1px 0 0 0;
    }

    .nav {
        display: none;
    }

    .call-button {
        width: 199px;
        margin: 0 0 1px 40.8%;
        white-space: nowrap;
    }
    
    .burger-menu {
        width: 40px;
        height: 37px;
        background: url("../img/MenuFilled.svg");
        background-repeat: no-repeat;
        display: block;
        border: none;
        cursor: pointer;
    }

    .sub-nav {
        width: 71.1vw;
    }

    .title {
        width: 52vw;
        -ms-flex-item-align:start;
            align-self:flex-start;
        margin: 56px 0 0 14.5vw;
        line-height: 28px;
    }

    .banner-container {
        width: 100vw;
        margin-top: 33px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .mini-banner-container {
        display: none;
    }

    .mid {
        display: block;
    }

    .banner-element {
        width: 356px;
        height: 201px;
        padding: 32.5px 32px 0;
    }
    
    .back-img-banner-1 {
        width: 217px;
        height: 104px;
        position: absolute;
        top: 140px;
        left: 197px;
    }

    .back-img-banner-2 {
        position: absolute;
        top: 132px;
        left: 245px;
    }

    .back-img-banner-3 {
        position: absolute;
        top: 118px;
        left: 270px;
    }

    .back-img-banner-4 {
        width: 347px;
        height: 165px;
        position: absolute;
        top: 335px;
        left: 65px;
    }

    .banner-button {
        width: 148px;
        padding: 2px 0 0 0;
    }
    
    .book {
        margin: 54px 0 0 0;
    }

    .banner-button:last-child {
        font-size: 0px;

    }

    .banner-button:last-child::after {
        font-size: 14px;
        content: 'Оставить заявку';
        padding: 0;
        margin: 2px 3px 0 0px;
    }

    .back-img-banner-3 {
        width: 109px;
        top: 149px;
        left: 291px;
    }

    .back-img-banner-container-play {
        display: none;
    }

    .back-img-banner-2 {
        width: 215px;
        height: 93px;
        top: 140px;
        left: 198px;
    }

    .back-img-banner-container-magnifying {
        display: none;
    }

    .back-img-banner-4 {
        width: 205px;
        height: 100px;
        top: 136px;
        left: 212px;
    }

}

@media screen and (max-width: 899px) {
    .header {
        height: 63px;
    }

    .navigation {
        width: 75.6vw;
    }

    .line {
        display: none;
    }

    .call-button {
        padding: 10px;
        margin:0 0 1px 176px;    
    }

    .sub-nav {
        display: none;
    }

    .info {
        margin: 0 0 210px 0;  

    }

    .title {
        width: 70vw;
        margin: 57px 0 0 0;
        line-height: 29px;
    }

    .banner-container {
        margin: 32px 0 0 0;
        width: 75.7vw;
        gap: 12px;
    }

    .banner-element {
        width: 100%;
        height: 200.5px;
    }

    .back-img-banner-1 {
        width: 285px;
        height: 135px;
        top: 110px;
        left: 55%;
    }

    .back-img-banner-2 {
        width: 262px;
        height: 115px;
        top: 117px;
        left: 59%;
    }

    .back-img-banner-3 {
        width: 144px;
        height: 218px;
        top: 122px;
        left: 74.4%;
    }

    .back-img-banner-4 {
        width: 229px;
        height: 111px;
        top: 123px;
        left: 62.6%;
    }
}

@media screen and (max-width: 599px) {
    .navigation {
        margin: 2px 0 0 0;
        width: 56vw;
    }

    .call-button {
        display: none;
    }

    .info {
        margin: 0 0 230px 0;  

    }

    .title {
        width: 56vw;
        font-size: 16px;
        margin: 35px 0 0 0;
        line-height: 19px;
    }

    .banner-container {
        width: 56vw;
        margin: 24px 0 0 0;
    }
    
    .banner-element {
        min-width: 319px;
        height: 177px;
        font-size: 16px;
        padding: 17px 0 0 16px;
    }

    .banner-title {
        max-width: 230px;
        font-size: 16px;
    }

    .banner-content {
        max-width: 300px;
        padding: 7px 0 0 0;
    }

    .banner-button {
        height: 41px;
        margin: 33px 0 0 0;
    }

    .banner-element:nth-child(4) .banner-content {
        width: 40vw;
    }

    .banner-element:nth-child(4) .banner-button {
        font-size: 0px;
    }

    .banner-element:nth-child(4) .banner-button::after {
        content: 'Записаться';
        font-size: 14px;
        margin: 1px 6px 0 0;
    }

    .banner-element:nth-child(5) .banner-button {
        margin: 15px 0 0 0;
    }

    

    .back-img-banner-1 {
        width: 147px;
        height: 71px;
        top: 126px;
        left: 180px;   
    }

    .back-img-banner-2 {
        width: 138px;
        height: 63px;
        top: 130px;
        left: 199px;
    }

    .back-img-banner-3 {
        width: 78px;
        height: 127px;
        top: 130px;
        left: 240px;
    }

    .back-img-banner-4 {
        width: 126px;
        height: 63px;
        top: 130px;
        left: 197px;   
    }
}